h1 {
    color: whitesmoke;
    background: #19ade7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 700;
}
.espacio{
    color: #E5E5E5;
    font-size: xx-large;
    
}
.footer{
    color: whitesmoke;
    background-color: #19ade7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}
.subtitulos{
    color: whitesmoke;
    background: #19ade7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}
.tabulador{
    padding-left: 21mm;
}
